.git
.github
.gitignore
.gcloudignore
.vscode
node_modules/
dist/
coverage/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.streamlit/
.env
.env.*
!.env.example
npm-debug.log*
*.log
guidelines/
app.py
requirements.txt
